.navbar-fixed {
	z-index: 999;
}

.svg-container {
	margin-left: auto !important;
	margin-right: auto !important;
}

.close-button {
	margin-right: 0 !important;
	float: right  !important;
	cursor: pointer;
}

.close-button-a:hover {
	background-color: #fff !important;
}

.col > .btn {
	width: 100% !important;
}