.navbar-fixed {
	z-index: 999;
}

.svg-container {
	margin-left: auto !important;
	margin-right: auto !important;
}

.close-button {
	margin-right: 0 !important;
	float: right  !important;
	cursor: pointer;
}

.close-button-a:hover {
	background-color: #fff !important;
}

.col > .btn {
	width: 100% !important;
}
@media only screen and (min-width: 933px) {
	#plotlyDashboardPie {
		display: none;
	}
}

.margin{
	margin-top: 3vw !important;
}

.pacific{
	font-family: 'Pacifico', cursive;
}

.produtos{
	width: 70%;
}

@media only screen and (min-width: 993px){
	.produtos{
		width: 95%
	}
}

@media only screen and (min-width: 100px) and (max-width: 600px){
	.produtos{
		width: 70%;
	}
}

.warning{
	color: red;
}