.navbar-fixed {
	z-index: 999;
}

.svg-container {
	margin-left: auto !important;
	margin-right: auto !important;
}

.close-button {
	margin-right: 0 !important;
	float: right  !important;
	cursor: pointer;
}

.modebar {
	z-index: 0 !important;
}

.svg-container {
	width: 100% !important;
}

.main-svg {
	width: 83vw;
}

.close-button-a:hover {
	background-color: #fff !important;
}

.col > .btn {
	width: 100% !important;
}

.margin{
	margin-top: 3vw !important;
}

.pacific{
	font-family: 'Pacifico', cursive;
}

.produtos{
	width: 70%;
}

.warning{
	color: red;
}

.user-img {
	font-size: 40vh !important;
}

.field-wrong {
	border-bottom: 1px solid #F44336 !important;
}

/* QR Code Camera */
.qrCodeCamera {
	background: rgba(221, 221, 221, 0.952);
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 2px solid #000;
}

.qrCodeCamera img {
	width: 100%;
	height: 100%;
}

.top-margin-class {
	margin-top: 0.3rem;
}

/* Medias */
@media only screen and (min-width: 993px){
	.produtos{
		width: 95%
	}
}

@media only screen and (min-width: 100px) and (max-width: 600px){
	.produtos{
		width: 70%;
	}
}
